.form {
  display: grid;
}
.label {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  margin-left: 1rem;
}
.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  outline: none;
}

.button {
  background-color: rgba(74, 63, 230, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(74, 63, 230, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms;
}
.button:hover {
  background-color: rgba(74, 63, 230, 0.85);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input,
  .label {
    margin-bottom: 0;
  }
}
