.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  background-color: white;
  cursor: pointer;
}
.card:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}
.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}
.card--image {
  margin: 0 auto;
  display: block;
}
