* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 1.6rem;
}
small {
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
.title {
  font-size: 4.4rem;
  text-align: center;
}

.movieimg {
  vertical-align: middle;
}
